# Social Media Wellbeing Analysis

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from scipy import stats

#### First step of EDA
1. Load data
2. Understand the data, data type and for any missing/duplicate values
3. Distribution and basic statistics (mean, median, standard dev.)
4. Simple visualisation (graphing)

In [2]:
df = pd.read_csv ("socialmedia_dataset_orginal.csv")
df

,User_ID,Age,Gender,Daily_Screen_Time(hrs),Sleep_Quality(1-10),Stress_Level(1-10),Days_Without_Social_Media,Exercise_Frequency(week),Social_Media_Platform,Happiness_Index(1-10)
0,U001,44,Male,3.1,7.0,6.0,2.0,5.0,Facebook,10.0
1,U002,30,Other,5.1,7.0,8.0,5.0,3.0,LinkedIn,10.0
2,U003,23,Other,7.4,6.0,7.0,1.0,3.0,YouTube,6.0
3,U004,36,Female,5.7,7.0,8.0,1.0,1.0,TikTok,8.0
4,U005,34,Female,7.0,4.0,7.0,5.0,1.0,X (Twitter),8.0
...,...,...,...,...,...,...,...,...,...,...
495,U496,23,Male,6.9,5.0,7.0,4.0,2.0,X (Twitter),10.0
496,U497,43,Female,5.6,7.0,6.0,5.0,2.0,Facebook,9.0
497,U498,41,Male,7.7,5.0,7.0,2.0,2.0,LinkedIn,8.0
498,U499,23,Male,4.2,9.0,7.0,0.0,2.0,Facebook,9.0
499,U500,43,Female,5.9,5.0,8.0,3.0,3.0,X (Twitter),7.0

In [31]:
#checking first few rows to ensure data set has loaded correctly 
df.head(5)

,User_ID,Age,Gender,Daily_Screen_Time(hrs),Sleep_Quality(1-10),Stress_Level(1-10),Days_Without_Social_Media,Exercise_Frequency(week),Social_Media_Platform,Happiness_Index(1-10),Age Group
0,U001,44,Male,3.1,7.0,6.0,2.0,5.0,Facebook,10.0,Older Adult
1,U002,30,Other,5.1,7.0,8.0,5.0,3.0,LinkedIn,10.0,Adult
2,U003,23,Other,7.4,6.0,7.0,1.0,3.0,YouTube,6.0,Young Adult
3,U004,36,Female,5.7,7.0,8.0,1.0,1.0,TikTok,8.0,Older Adult
4,U005,34,Female,7.0,4.0,7.0,5.0,1.0,X (Twitter),8.0,Adult

In [32]:
#checking the data set as a whole and where we have any missing values. In this case, we do not have missing values.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   User_ID                    500 non-null    object
 1   Age                        500 non-null    int64
 2   Gender                     500 non-null    object
 3   Daily_Screen_Time(hrs)     500 non-null    float64
 4   Sleep_Quality(1-10)        500 non-null    float64
 5   Stress_Level(1-10)         500 non-null    float64
 6   Days_Without_Social_Media  500 non-null    float64
 7   Exercise_Frequency(week)   500 non-null    float64
 8   Social_Media_Platform      500 non-null    object
 9   Happiness_Index(1-10)      500 non-null    float64
 10  Age Group                  483 non-null    category
dtypes: category(1), float64(6), int64(1), object(3)
memory usage: 39.8+ KB

In [33]:
# Checking for 'is not a number' value, no boolean returned to confirm no missing values.  
df.isna().sum()

User_ID                       0
Age                           0
Gender                        0
Daily_Screen_Time(hrs)        0
Sleep_Quality(1-10)           0
Stress_Level(1-10)            0
Days_Without_Social_Media     0
Exercise_Frequency(week)      0
Social_Media_Platform         0
Happiness_Index(1-10)         0
Age Group                    17
dtype: int64

In [7]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Length: 500, dtype: bool

In [34]:
#basic overview of distribution to check for standard deviation, mean, min and max values
df.describe()

,Age,Daily_Screen_Time(hrs),Sleep_Quality(1-10),Stress_Level(1-10),Days_Without_Social_Media,Exercise_Frequency(week),Happiness_Index(1-10)
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,32.988000,5.530000,6.304000,6.618000,3.134000,2.448000,8.376000
std,9.960637,1.734877,1.529792,1.542996,1.858751,1.428067,1.524228
min,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,4.000000
25%,24.000000,4.300000,5.000000,6.000000,2.000000,1.000000,7.000000
50%,34.000000,5.600000,6.000000,7.000000,3.000000,2.000000,9.000000
75%,41.000000,6.700000,7.000000,8.000000,5.000000,3.000000,10.000000
max,49.000000,10.800000,10.000000,10.000000,9.000000,7.000000,10.000000

Use graph to show frequency

In [15]:
df["Happiness_Index(1-10)"].value_counts()

Happiness_Index(1-10)
10.0    162
8.0     106
9.0      94
7.0      76
6.0      39
5.0      16
4.0       7
Name: count, dtype: int64

In [16]:
df["Daily_Screen_Time(hrs)" >= 5].value_counts()

Daily_Screen_Time(hrs)
6.2    19
5.0    17
6.5    13
5.6    13
4.3    12
       ..
9.8     1
9.5     1
9.3     1
9.0     1
8.6     1
Name: count, Length: 82, dtype: int64

In [27]:
df.nlargest(1,'Age')

,User_ID,Age,Gender,Daily_Screen_Time(hrs),Sleep_Quality(1-10),Stress_Level(1-10),Days_Without_Social_Media,Exercise_Frequency(week),Social_Media_Platform,Happiness_Index(1-10)
49,U050,49,Male,3.6,7.0,5.0,4.0,1.0,TikTok,9.0

In [23]:
df.nsmallest(1,'Age')

,User_ID,Age,Gender,Daily_Screen_Time(hrs),Sleep_Quality(1-10),Stress_Level(1-10),Days_Without_Social_Media,Exercise_Frequency(week),Social_Media_Platform,Happiness_Index(1-10)
65,U066,16,Male,4.4,8.0,4.0,5.0,1.0,YouTube,10.0

In [29]:
#Feature Engineering: created 'Age group' feature

df['Age Group'] = pd.cut(df['Age'],
                                     bins= [16,25,35,49],
                                     labels= ['Young Adult', 'Adult', 'Older Adult'])
df

,User_ID,Age,Gender,Daily_Screen_Time(hrs),Sleep_Quality(1-10),Stress_Level(1-10),Days_Without_Social_Media,Exercise_Frequency(week),Social_Media_Platform,Happiness_Index(1-10),Age Group
0,U001,44,Male,3.1,7.0,6.0,2.0,5.0,Facebook,10.0,Older Adult
1,U002,30,Other,5.1,7.0,8.0,5.0,3.0,LinkedIn,10.0,Adult
2,U003,23,Other,7.4,6.0,7.0,1.0,3.0,YouTube,6.0,Young Adult
3,U004,36,Female,5.7,7.0,8.0,1.0,1.0,TikTok,8.0,Older Adult
4,U005,34,Female,7.0,4.0,7.0,5.0,1.0,X (Twitter),8.0,Adult
...,...,...,...,...,...,...,...,...,...,...,...
495,U496,23,Male,6.9,5.0,7.0,4.0,2.0,X (Twitter),10.0,Young Adult
496,U497,43,Female,5.6,7.0,6.0,5.0,2.0,Facebook,9.0,Older Adult
497,U498,41,Male,7.7,5.0,7.0,2.0,2.0,LinkedIn,8.0,Older Adult
498,U499,23,Male,4.2,9.0,7.0,0.0,2.0,Facebook,9.0,Young Adult
499,U500,43,Female,5.9,5.0,8.0,3.0,3.0,X (Twitter),7.0,Older Adult

In [40]:
#saving data after initial exploration 
df1= df.to_csv('socialmedia_clean.csv',index=False)